body {
  font-size: .875rem;
}

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

.chart-container {
  width: 400px;
  height: 400px;
}

.amchart-container {
  width: 100%;
  height: 400px;
}