<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SPD Sign Up Page</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="main">

        <section class="signup">
            <!-- <img src="images/signup-bg.jpg" alt=""> -->
            <div class="container">
                <div class="signup-content">
                    <form method="POST" id="signup-form" class="signup-form">
                        <h2 class="form-title">Sign Up For SPD</h2>
                        <div class="form-group">
                            <input type="email" class="form-input" name="email" id="userEmailAddress" placeholder="Your Email"/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-input" name="password" id="userCreatePassword" placeholder="Password"/>
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="re_password" id="userConfirmPassword" placeholder="Confirm your password"/>
                        </div>
                        <div class="form-group">
                            <input onclick="store()" type="submit" name="submit" id="submit" class="form-submit" value="Sign up"/>
                        </div>
                        <div class="form-group">
                            <input onclick="get()" type="submit" name="submit" id="submit" class="form-submit" value="Display"/>
                        </div>
                        <script  type="text/javascript">
                          function store() {
                            var email = document.getElementById('userEmailAddress');
                            var createpw = document.getElementById('userCreatePassword');
                            var confirmpw = document.getElementById('userConfirmPassword');
                            localStorage.setItem('email', email.value);
                            localStorage.setItem('createpw', createpw.value);
                            localStorage.setItem('confirmpw', confirmpw.value);
                            alert("Successfully submitted.");
                          }
                          function get() {
                            var storedEmail = localStorage.getItem('email');
                            alert(storedEmail);
                          }
                        </script>
                    </form>
                    <p class="loginhere">
                        Already have an account ? <a href="login.html" class="loginhere-link">Login here</a>
                    </p>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
