<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="favicon.ico"/>
</head>

<body>
    <header>
        <button id="logOut">Log Out</button>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Stock Breakdown
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Sector Breakdown
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Market Cap Breakdown
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <footer>
        <p>Created by Team SPD in MET CS 673 Summer 2021</p>
    </footer>
</body>


</html>