<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8"/>
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="favicon.ico"/>
</head>

<body>
<form id="register" method="POST">

    <label>Email Address</label><br>
    <input class="input-field" id="userEmailAddress" type="text" autocomplete="off" required/><br><br>

    <label>Create Password</label><br>
    <input class="input-field" id="userCreatePassword" type="password" autocomplete="off" required/><br><br>

    <label>Confirm Password</label><br>
    <input class="input-field" id="userConfirmPassword" type="password" autocomplete="off" required/><br><br>

    <button onclick="store()" type="button" id="register-btn">Sign Up</button>
    <button onclick="get()" type="button" id="display-btn">Display Email</button>

    <script  type="text/javascript">
      function store() {
        var email = document.getElementById('userEmailAddress');
        var createpw = document.getElementById('userCreatePassword');
        var confirmpw = document.getElementById('userConfirmPassword');
        localStorage.setItem('email', email.value);
        localStorage.setItem('createpw', createpw.value);
        localStorage.setItem('confirmpw', confirmpw.value);
        alert("Successfully submitted.");
      }
      function get() {
        var storedEmail = localStorage.getItem('email');
        alert(storedEmail);
      }
    </script>
</form>
<p>Have an account? <a href="login.html"> Log In </a></p>
</body>

</html>
