<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8"/>
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="favicon.ico"/>
</head>

<body>
<form id="register" method="POST">
    <label>First Name</label><br>
    <input class="input-field" id="userFirstName" type="text" autocomplete="off" required/><br><br>

    <label>Last Name</label><br>
    <input class="input-field" id="userLastName" type="text" autocomplete="off" required/><br><br>

    <label>Create Username</label><br>
    <input class="input-field" id="userUserName" type="text" autocomplete="off" required/><br><br>

    <label>Create Password</label><br>
    <input class="input-field" id="userCreatePassword" type="password" autocomplete="off" required/><br><br>

    <label>Confirm Password</label><br>
    <input class="input-field" id="userConfirmPassword" type="password" autocomplete="off" required/><br><br>

    <button type="submit" id="register-btn">Sign Up</button>
</form>
<p>Have an account? <a href="login.html"> Log In </a></p>
</body>

</html>